

/* IMPORT */

@import './base.css';
@import './misc.css';

#app {
  /* max-width: calc(100vh - -800px); */
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.router-link-active {
  color: rgba(255, 255, 255, 0.5)
}

.router-link-exact-active {
  color: rgba(255, 255, 255, 0.5)
}

@media (hover: hover) {
  a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}