/* MARKER */
#u {
  text-decoration: underline;
}

/* COLOR */
.yellow {
  color: yellow;
}

.yellow-green {
  color: yellowgreen;
}

.green-yellow {
  color: greenyellow;
}

.blue-violet {
  color: blueviolet
}

.green
{
  color: green;
}

.red
{
  color: red;
}

.blue
{
  color: blue;
}

.lime
{
  color: lime;
}

.crimson
{
  color: crimson;
}

.maroon
{
  color: maroon;
}

.deep-pink
{
  color: deeppink;
}

.lightcoral
{
  color: lightcoral;
}

.indigo
{
  color: indigo;
}

.orange {
  color: orange;
}

.magenta {
  color: magenta;
}

.tomato {
  color: tomato;
}

/* DEV */

.el {
  margin: 5rem auto;
  text-align: left;
  pointer-events: none;
  position: relative;
  width: 28px;
  height: 28px;
  background-color: red;
  font-size: 14px;
}
