/* MARKER */
#u {
  text-decoration: underline;
}

/* COLOR */
.yellow {
  color: yellow;
}

.yellow-green {
  color: yellowgreen;
}

.green-yellow {
  color: greenyellow;
}

.blueviolet {
  color: blueviolet
}

.green
{
  color: green;
}

.blue
{
  color: blue;
}

.lime
{
  color: lime;
}

.crimson
{
  color: crimson;
}

.maroon
{
  color: maroon;
}

.deeppink
{
  color: deeppink;
}

.lightcoral
{
  color: lightcoral;
}

.indigo
{
  color: indigo;
}

.orange {
  color: orange;
}

.magenta {
  color: magenta;
}

.tomato {
  color: tomato;
}